* {
	box-sizing: border-box;
}

body {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
	padding: 12px;
	width: 400px;
	font-size: 15px;
}

h2,
h3 {
	text-align: center;
	margin: 10px 0;
}

select {
	width: 100%;
	padding: 10px 16px;
	margin-top: 4px;
	font-size: 14px;
	border-radius: 8px;
	cursor: pointer;

}

#city-note {
	font-size: 12px;
	color: #666;
	text-align: center;
	margin-bottom: 10px;
}

.good {
	background-color: #e6ffe6;
	color: #006400;
	font-weight: bold;
}

.bad {
	background-color: #ffe6e6;
	color: #8b0000;
}

.rahu {
	background-color: #ffcccc;
	color: #b22222;
	font-weight: bold;
	padding: 8px;
	border-radius: 4px;
	text-align: center;
}

table {
	width: 100%;
	border-collapse: collapse;
	margin: 12px 0;
}

td,
th {
	padding: 8px;
	border: 1px solid #ccc;
	text-align: left;
}

tr.active-now {
	font-weight: bold;
}